.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error{
    color: red;
    font-size: 10px;
    margin-left: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 30px #000;
    padding: 30px;
    border-radius: 10px;
}

.user{
    display: flex;
    margin-bottom: 15px;
}
input{
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid rgb(152, 152, 152);
}
input:focus{
    outline: none;
    border-bottom: 3px solid #555;
}

.user button{
    background-color: transparent;
    border: none;
    color: grey;
    margin-left: 10px;
    margin-bottom: 10px;
}

.loginbutton{
    display: flex;
    justify-content: center;
}
.loginbutton button{
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(141, 140, 140);
    border-radius: 5px;
}
.loginbutton button:hover{
    background-color: grey;
}

.register{
    padding: 10px;
}

.register button{
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}
.register button:hover{
    background-color: grey;
}